<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Enregistrement</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Enregistrement</h1>
        <form>
          <div class="field">
            <label class="label">Nom</label>
            <div class="control">
              <input class="input" type="text" placeholder="Nom">
            </div>
          </div>
          <div class="field">
            <label class="label">Prénom</label>
            <div class="control">
              <input class="input" type="text" placeholder="Prénom">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <label class="label">Mot de passe</label>
            <div class="control">
              <input class="input" type="password" placeholder="Mot de passe">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Enregistrer</button>
            </div>
            <div class="control">
              <button class="button is-text">Annuler</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
  </html>